<nav aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active">
            Categorias
        </li>
    </ol>
</nav>

<div class="row">
    <div class="col-md">
        <h1 class="h2 border-left pl-2">
            Categorias
        </h1>
    </div>
    <div class="col-md">
        <a routerLink="new" class="btn btn-success float-end">
            + Nova Categoria
        </a>
    </div>
</div>

<table class="table table-hover table-striped">
    <thead>
        <tr class="bg-dark text-light">
            <th>
                Categoria
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="col-md-10">
               <strong>
                   Lazer
               </strong>
               <br>
               <small>
                   Cinema, parque, praia, etc...
               </small> 
            </td>
            <td class="col-md">
                <a [routerLink]="[12, 'edit']" class="btn btn-outline-info btn-sm mx-2">
                    Editar
                </a>
                <button class="btn btn-outline-danger btn-sm ">
                    Excluir
                </button>
            </td>
        </tr>
    </tbody>
</table>